/* body: семейство и размер шрифта */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #1a1a1a;
  margin: 0;
}

/* header: background color */
header {
  background-color: #e9eef5;
  padding: 16px;
}

/* nav: background color */
nav {
  background-color: #d6e6ff;
  padding: 10px 16px;
}

/* main: background color и размер шрифта */
main {
  background-color: #ffffff;
  font-size: 18px;
  padding: 16px;
}

/* footer: background color */
footer {
  background-color: #e9eef5;
  padding: 16px;
}

/* li: display и width */
li {
  display: inline-block;
  width: 200px;
}

/* h1: выравнивание, семейство шрифтов и цвет */
h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", serif;
  color: #1a1a1a;
  margin: 0;
}

/* p: высота строки */
p {
  line-height: 1.6;
}

/* Дополнительно: ссылки (чтобы не было проблем с контрастом) */
a {
  color: #0b3d91;
}
a:hover,
a:focus {
  text-decoration: underline;
}
